.gallery{
    display: flex;
    flex-flow: row wrap;
    
}
.userLink{
    color:  rgb(173, 187, 199);
    font-size: 3em;
    transition: 0.3s
}
.userLink:hover{
    color: #ffffff;
    font-size: 3em;
    text-decoration: none;
}
.fullCard{
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
