body{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) ), url(../components/image/steve-johnson-1057358-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    
}

body{

}

body,html,#root{
    margin: 0;
    padding: 0;
    min-height: 100em;

}

.entryImage{
    /* background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) ), url(../components/image/IMG_2304.jpeg) no-repeat; */

    /* min-height: 100vh;
    width: 100vw;
    position: relative;
    display: table; */
    /* background-size: cover;
    background-attachment: fixed; */
  
  }