body{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) ), url(../components/image/blackboard-1846865_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}
#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.entryImage{
    /* background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) ), url(../components/image/IMG_2304.jpeg) no-repeat; */

    /* min-height: 100vh;
    width: 100vw;
    position: relative;
    display: table; */
    /* background-size: cover;
    background-attachment: fixed; */
  
  }