.main-nav a{
    font-size: 1.4em;
    transition: 0.3s;
    color: rgb(173, 187, 199);
  }
  .main-nav a:hover{
    color: #ffffff;
    transition: 0.3s;
    text-decoration: none;
    justify-content: space-evenly;
  }
  .nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }